@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans&family=Open+Sans&family=Outfit&family=Roboto&family=Rubik&display=swap');

*{
   font-family: 'Ubuntu', sans-serif;
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}

